
<div class="main-top-container">

<div class="container">
<div class="wrap material-wrap">
  <div class="material-card">
    <div class="material-header">
      <div class="material-card-title">
        현재, <%= @applying.length %>개의 동아리가
        <br>
        여러분을 기다리고 있습니다.
      </div>
      <div class="material-card-action">
        <a href="#">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
      </div>
    </div>

     <div class="material-card-content">
       <% @applying.each do |club| %>
       <div class= "material-card-club">
         <div class="card-club-name"><%= club.name %></div>
         <div class="card-club-hashtag"><span class="hashtag-block">#요리</span></div>
         <div class="card-club-D-day"><span class="date-block">3월마감</span></div>
       </div>
       <% end %>
    </div>
  
  </div>
</div>
</div>
<!--검색 기능 창-->
<div class="search"> 
  <%= search_form_for @q  do | f | %>
    <%= f.button :submit, :class => 'bu_search' do%>
       <i class="fa fa-search"></i>
    <% end %>
    <%= f.search_field :name_cont_any  ,placeholder: '동아리 이름을 입력해주세요!!' %>
  <%end%>
</div>
 <!--hashtag-->

<div class="hash_search">
    <ul class="mainhashtag-container">
    <% @randHashtags.each_with_index do |randHashtag, i| %>
        <li class="mainHashtag hvr-grow" data-filter=".<%=randHashtag.gsub(/#/, '')%>"><%=randHashtag%></li>
    <% end %>
    </ul>
</div>



<!--hashtag-->


<!--동아리 설명 나열-->
<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--      <th>Short desc</th>-->
<!--      <th>Detail desc</th>-->
<!--      <th>Meeting date</th>-->
<!--      <th>Contact</th>-->
<!--      <th>Room location</th>-->
<!--      <th>Detail desc</th>-->
<!--      <th>Isapply</th>-->
<!--      <th>Category</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <#% @clubs.each do |club| %>-->
<!--      <tr>-->
<!--      <td><#%= club.name %></td>-->
<!--      <td><#%= club.short_desc %></td>-->
<!--      <td><#%= club.detail_desc %></td>-->
<!--      <td><#%= club.meeting_date %></td>-->
<!--      <td><#%= club.contact %></td>-->
<!--      <td><#%= club.room_location %></td>-->
<!--      <td><#%= club.detail_desc %></td>-->
<!--      <td><#%= club.isApply %></td>-->
<!--      <td><#%= @categories.find(club.category_id).name%></td>-->
<!--      <td><#%= link_to '상세페이지 보기', club %></td>-->
      
      <!--관리자이거나, 해당하는 동아리만 편집 할 수 있도록 설정-->
    
<!--        <#% if user_signed_in? && current_user.author == 1%>-->
<!--            <td><#%= link_to ' 동아리 편집하기', edit_club_path(club) %></td>-->
<!--          <#% elsif user_signed_in? && current_user.author == 2 && current_user.id == club.id %>-->
<!--            <td><#%= link_to ' 동아리 편집하기', edit_club_path(club) %></td>-->
<!--        <#% end %>-->
     
<!--      <#% if can? :destroy, @clubs %>-->
<!--      <td><#%= link_to '삭제', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      <#% end %>    -->
<!--    </tr>-->
  <!--<#% end %>-->
<!--  </tbody>-->
<!--<td>-->
<!--</td>-->
<!--</table>-->



<!-- Category -->
<!-- Control buttons -->

<!--아래 코드 셀렉터 isotope에서 사용하는 셀렉터 형식으로 바꿔 놓았어요 혹시 이부분 수정하시면 말씀해주세요 셀렉터바뀌면 카드뷰가 동작을 안해요!-->

<div id="myBtnContainer">
  <ul class="mainhashtag-container">
    <li data-filter=".all" class="btn active" > 전체 보기 </li>
    <li data-filter=".art" class="btn cat_btn">연행예술</li>
    <li data-filter=".study" class="btn cat_btn">학술언론</li>
    <li data-filter=".sports" class="btn cat_btn">레져스포츠</li>
    <li data-filter=".exercise"class="btn cat_btn">체육</li>
    <li data-filter=".science" class="btn cat_btn">과학기술</li>
    <li data-filter=".social" class="btn cat_btn">사회활동종교</li>
    <li data-filter=".creative" class="btn cat_btn">창작전시</li>
  </ul>
</div>

<!--.js -> Div 삭제-->


<div id="myBtnContainer_mobile">
  <ul class="mainhashtag-container">
    <ul class="fst-row">
      <li data-filter=".art" class="btn cat_btn" >연행예술</li>
      <li data-filter=".study" class="btn cat_btn">학술언론</li>
      <li data-filter=".sports" class="btn cat_btn">레져스포츠</li>
    </ul>
    <ul class="snd-row">
      <li data-filter=".exercise"class="btn cat_btn">체육</li>
      <li data-filter=".science" class="btn cat_btn">과학기술</li>
      <li data-filter=".social" class="btn cat_btn">사회활동종교</li>
    </ul>
    <li data-fileter="*" class="btn active whole"> 전체 보기 </li>

  </ul>
</div>
</div>

<div class="container cards-container">
  <div class="row items-wrapper">
    <% @clubs.each do |club| %>
      <% if @categories.find(club.category_id).name == "연행예술" %>
          <div class="item art col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12" style="cursor: pointer;" onclick="location.href='/clubs/<%=club.id %>';">
            <div class="club-info-wrapper">
              <div class="club-img-div" style="background:url(/assets/logo.png);">
                  <img class="card-img-top-default" alt="logo">
                  <!--src=사진 기존 크기에 맞게 창이 조절됨-->
              </div>
              <div class="card-block">
                  <div class="card-title"> <%= club.name %></div>   
                  <span class="card-text-p card-text">해시테그 표시위치</span></br>
                  <span class="card-text-p card-text"><%= club.short_desc %></span>
              </div>
              </div>
              <!--clubs_hashtags.hashtag-->
          </div>
      <% elsif @categories.find(club.category_id).name == "학술언론" %>
      <div>
          <div class="item study col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12" style="cursor: pointer;" onclick="location.href='/clubs/<%=club.id %>';">
            <div class="club-info-wrapper">
              <div class="club-img-div" style="background:url(/assets/logo.png);">
                  <img class="card-img-top-default" alt="logo" >
              </div>
              <div class="card-block">
                  <p class="card-title">
                      <span><%= club.name %></span>
                  </p>
                  <p class="card-text-p">
                      <span class="card-text">
                          해시테그 표시위치
                      </span>
                  </p>
              </div>
            </div>
        </div>
        </div>
      <% elsif @categories.find(club.category_id).name == "레져스포츠" %>
                <div>
          <div class="item sports col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12" style="cursor: pointer;" onclick="location.href='/clubs/<%=club.id %>';">
            <div class="club-info-wrapper">  
              <div class="club-img-div" style="background:url(/assets/logo.png);">
                  <img class="card-img-top-default" alt="logo" >
              </div>
              <div class="card-block">
                  <p class="card-title">
                      <span><%= club.name %></span>
                  </p>
                  <p class="card-text-p">
                      <span class="card-text">
                          해시테그 표시위치
                      </span>
                  </p>
              </div>
            </div>
        </div>
        </div>
      <% elsif @categories.find(club.category_id).name == "체육" %>
                 <div>
          <div class="item exercise col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12" style="cursor: pointer;" onclick="location.href='/clubs/<%=club.id %>';">
            <div class="club-info-wrapper">  
              <div class="club-img-div" style="background:url(/assets/logo.png);">
                  <img class="card-img-top-default" alt="logo" >
              </div>
              <div class="card-block">
                  <p class="card-title">
                      <span><%= club.name %></span>
                  </p>
                  <p class="card-text-p">
                      <span class="card-text">
                          해시테그 표시위치
                      </span>
                  </p>
              </div>
            </div>
        </div>
        </div>
      <% elsif @categories.find(club.category_id).name == "과학기술" %>
                 <div>
          <div class="item science col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12" style="cursor: pointer;" onclick="location.href='/clubs/<%=club.id %>';">
            <div class="club-info-wrapper">  
              <div class="club-img-div" style="background:url(/assets/logo.png);">
                  <img class="card-img-top-default" alt="logo" >
              </div>
              <div class="card-block">
                  <p class="card-title">
                      <span><%= club.name %></span>
                  </p>
                  <p class="card-text-p">
                      <span class="card-text">
                          해시테그 표시위치
                      </span>
                  </p>
              </div>
            </div>
        </div>
        </div>
      <% elsif @categories.find(club.category_id).name == "사회활동종교" %>
                 <div>
          <div class="item social col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12" style="cursor: pointer;" onclick="location.href='/clubs/<%=club.id %>';">
            <div class="club-info-wrapper"> 
              <div class="club-img-div" style="background:url(/assets/logo.png);">
                  <img class="card-img-top-default" alt="logo" >
              </div>
              <div class="card-block">
                  <p class="card-title">
                      <span><%= club.name %></span>
                  </p>
                  <p class="card-text-p">
                      <span class="card-text">
                          해시테그 표시위치
                      </span>
                  </p>
              </div>
            </div>
        </div>
        </div>
      <% else %>
        <div>
          <div class="item creative col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12" style="cursor: pointer;" onclick="location.href='/clubs/<%=club.id %>';">
            <div class="club-info-wrapper">  
              <div class="club-img-div" style="background:url(/assets/logo.png);">
                  <img class="card-img-top-default" alt="logo" >
              </div>
              <div class="card-block">
                  <p class="card-title">
                      <span><%= club.name %></span>
                  </p>
                  <p class="card-text-p">
                      <span class="card-text">
                          해시테그 표시위치
                      </span>
                  </p>
              </div>
            </div>
        </div>
        </div>
      <% end %>
      
        <div>
            <div class="item all col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12" style="cursor: pointer;" onclick="location.href='/clubs/<%=club.id %>';">
              <div class="club-info-wrapper">
                <div class="club-img-div" style="background:url(/assets/logo.png);">
                    <img class="card-img-top-default" alt="logo" >
                </div>
                <div class="card-block">
                    <p class="card-title">
                        <span><%= club.name %></span>
                    </p>
                    <p class="card-text-p">
                        <span class="card-text">
                            해시테그 표시위치
                        </span>
                    </p>
                </div>
              </div>
          </div>
        </div>

        <% Club.find(club.id).hashtag_ids.each do |hashtag_id| %>
            <% @randHashtags.each do |randHashtag| %>
              <% if Hashtag.find(hashtag_id).hashtag == randHashtag %>
                <div>
                    <div class="item <%=randHashtag.gsub(/#/, '')%> col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12" style="cursor: pointer;" onclick="location.href='/clubs/<%=club.id %>';">
                      <div class="club-info-wrapper">
                        <div class="club-img-div" style="background:url(/assets/logo.png);">
                            <img class="card-img-top-default" alt="logo" >
                        </div>
                        <div class="card-block">
                            <p class="card-title">
                                <span><%= club.name %></span>
                            </p>
                            <p class="card-text-p">
                                <span class="card-text">
                                     <%= randHashtag %>
                                </span>
                            </p>
                        </div>
                      </div>
                  </div>
                </div>
                
              <% end %>
            <% end %>
        <% end %>

    <% end %>
  </div>
</div>



