<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Short desc</th>
      <th>Detail desc</th>
      <th>Meeting date</th>
      <th>Contact</th>
      <th>Room location</th>
      <th>Detail desc</th>
      <th>Isapply</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.name %></td>
        <td><%= club.short_desc %></td>
        <td><%= club.detail_desc %></td>
        <td><%= club.meeting_date %></td>
        <td><%= club.contact %></td>
        <td><%= club.room_location %></td>
        <td><%= club.detail_desc %></td>
        <td><%= club.isApply %></td>
        <td><%= club.category %></td>
        <td><%= link_to '상세페이지 보기', club %></td>
        
        <!--관리자이거나, 해당하는 동아리만 편집 할 수 있도록 설정-->
        <!--아래코드 관리자 등록 후 주석 해제-->
        <!--if current_user.has_role? :admin-->
        
        <td><%= link_to ' 동아리 편집하기', edit_club_path(club) %></td>
        
        <!--elsif user.author == 2 && current_user.id == club.id-->
        <td><%= link_to ' 동아리 편집하기', edit_club_path(club) %></td>
         <!--end -->
        
        <% if can? :destroy, @clubs %>
        <td><%= link_to '삭제', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>    
      </tr>
    <% end %>
  </tbody>
  <td>
  <%= form_tag search_clubs_path, :method => :get do %>
<%= text_field_tag :query, params[:query] %> <%= submit_tag "검색" %>
<% end %>
</td>

</table>

<div class="container">
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <% (@imageUrls.length).times do|i| %>
      <% if i==0 %>
        <li data-target="#demo" data-slide-to="0" class="active"></li>
      <% else %>
        <li data-target="#demo" data-slide-to="<%= i %>"></li>
      <% end %>
      <% end %>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
      <% (@imageUrls.length-2).times do |i| %>
         <% imageParts = Array.new() %>
         <% imageParts << @imageUrls[i] %>
         <% imageParts << @imageUrls[i+1] %> 
         <% imageParts << @imageUrls[i+2] %>
         <% if i==0 %>
         <div class="carousel-item active">
           <img src="<%= imageParts[0] %>" style="width:33%; display:inline;"/> 
           <img src="<%= imageParts[1] %>" style="width:33%; display:inline;"/> 
           <img src="<%= imageParts[2] %>" style="width:33%; display:inline;"/> 
         </div>
         <% else %>
        <div class="carousel-item" >
           <img src="<%= imageParts[0] %>" style="width:33%; display:inline;"/> 
           <img src="<%= imageParts[1] %>" style="width:33%; display:inline;"/> 
           <img src="<%= imageParts[2] %>" style="width:33%; display:inline;"/> 
        </div>
        <% end %>
       <% end %>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>

<br>
<!--관리자만 새글을 작성할 수 있도록 설정-->
<% if can? :new, @clubs %>
<%= link_to 'New Club', new_club_path %>
<% end %>


