 <a href="#" title=Top>
  <div id="myBtn" onclick="topFunction()"><div><i class="fa fa-arrow-up" aria-hidden="true"></i></div></div>
</a>

<div class = "show_ent">
  <div class="sec1">
  <!--이미지 삽입-->
    <center class="sec1-img">
      <% @photo.each do |photo|%>
        <img src="<%= photo.url %>" width="70%" height = "90%"/>
      <% end %>
    </center>
  <!--자리 잡아놓기 위해서 임의의 이미지 삽입했습니다-->
    <!--<center class="sec1-img"><img src="http://www.visualdive.com/wp-content/uploads/2017/12/5-4.jpg" width="500"></center>-->
   
    <div class="sec1-detail_desc">
      <p class = "detail_title"><strong> 저희는 이런 동아리입니다</strong></p>
      <%= @club.detail_desc %>
    </div>

  </div>
  
 <%=image_tag(@club.image_url)%>

<!-- 화이팅하이소~~~~ -->
<div class="row justify-content-center" align="center">
  <div class="card col-auto" style="width: 16rem;">
    <div class="card-body">
      <h5 class="card-title">Meeting date</h5>
      <p class="card-text"><%= @club.meeting_date %> </p>
    </div>
  </div>
  
  <div class="card col-auto" style="width: 16rem;">
    <div class="card-body">
      <h5 class="card-title">Contact</h5>
      <p class="card-text"><%= @club.contact %></p>
    </div>
  </div>
  
  <div class="card col-auto" style="width: 16rem;">
    <div class="card-body">
      <h5 class="card-title">Room location</h5>
      <p class="card-text"><%= @club.room_location%></p>
    </div>
  </div>
  
  <div class="card col-auto" style="width: 16rem;">
    <div class="card-body">
      <h5 class="card-title">Isapply</h5>
      <p class="card-text">
        <% if @club.isApply==0 %>
          Sorry:( This club is not being recruited.
        <% elsif @club.isApply==1 %>
          Yeah:) This club is now being recruited.
        <% else %>
          Yeah:) This club is always being recruited.
        <% end %>
      </p>
      <% if @club.isApply != 1 %>
        <a href="@club.applyMethod" class="card-link">Recruiting link</a>
      <% end %>
    </div>
  </div>
</div>

<!--hashtag-->
<div class = "show_ali">
  <div>
      <p class= "show_font_hash"> # hashtag  </p>
        <% @club.hashtags.each do |tuple| %>
          <%= link_to tuple['hashtag'], hashtag_path(:id => tuple['id']) %>   &nbsp;
        <% end %>
  </div>
</div>
<div class = "show_but">
    <!--관리자이거나, 해당하는 동아리만 편집 할 수 있도록 설정-->
    <% if user_signed_in? && current_user.author == 1%>
    <p><%= link_to ' 동아리 편집하기', edit_club_path(@club), :class => "show_font" %></p>
    <% elsif user_signed_in? && current_user.author == 2 && current_user.id == @club.id %>
    <p><%= link_to ' 내 동아리 편집하기', edit_club_path(@club) ,:class => "show_font" %></p>
    <% end %>
    <p><%= link_to '돌아가기', clubs_path ,:class => "show_font" %></p>
</div>

</div>

