<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>AJOUCLUB - 아주대학교 동아리 정보</title>
  <meta name="description" content="아주클럽은 아주대학교 동아리 정보 소개 페이지 입니다.">
  <meta name="keywords" content="아주대, 동아리, 아주대동아리, 아주대 동아리, 아주대학교, 아주대 중앙 동아리, 아주대 중앙동아리, 중앙동아리">
  <meta name="autor" content="nileforest">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="og:site_name" content="AJOUCLUB">
  <meta name="og:title" content="AJOUCLUB - 아주대학교 동아리 정보">
  <meta name="og:description" content="아주클럽은 아주대학교 동아리 정보 소개 페이지 입니다.">
  <meta name="og:image" content="assets/logo_preview.png">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <style>

  </style>

<!-- Bootstrap css script -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<!-- Bootstrap css script -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<!--fontawesome-->

</head>
<body>
<div class="wrapper">
<!-- Basic Navbar --> 
  <header id="header" class="header">
    <div class="header-inner container">
      <div class="logo-container">
        <a href="https://ajouclub-goonoksusu.c9users.io">
          <img class="logo" src="/assets/logo.png" alt="auclubinfo"></img>
        </a>
      </div>
      <div>
        <% if @club != nil %>
          <li class="club-name"><%= @club.name %></li>
          <li class="club-short_desc"><%= @club.short_desc %></li>
        <% end %>
      </div>
      <div class="nav-menu">
        <ul class="nav-menu-inner">
          <li>
            <!--navbar 상세페이지 동아리 이름-->
          <% if user_signed_in? %>
          <li><%=current_user.name%></li>
          <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete, :class => "hvr-underline-reveal" %></li>
          <% if current_user.id < 59 %>
          <li><%= link_to '동아리편집', edit_club_path(current_user.id), :class => "hvr-underline-reveal" %></li>
          <% end %>
          <% else %>
          <li><%= link_to "로그인", new_user_session_path, :class => "hvr-underline-reveal" %></li>
          <li><%= link_to '동아리편집', clubs_path, :class => "hvr-underline-reveal" %></li>
          <% end %>
          
          <% if can? :new, @clubs %>  
          <li><%= link_to '동아리편집', clubs_path, :class => "hvr-underline-reveal" %></li>
          <li><%= link_to '동아리등록', new_club_path, :class => "hvr-underline-reveal" %></li>
          <% end %>
          </li>
          <li>
            <a class="hvr-underline-reveal" href="/about">About</a>
          </li>
        </ul>
      </div>
      <div class="nav-menu-mobile">
        <span></span>
      </div>
     
    </div>
  </header>
<!-- Basic Navbar End -->
<section id="main-section">
  <%= yield %>
</section>
  
<!-- Basic Footer -->
<footer id="footer">
    <div class="aulikelion-info">
      <ul class="linkto-aulikelion">
        <li id="footer-title">
          <div class="footer-title-content">Contact Us</div>
        </li>
        <li id="footer-fb">
          <a class="facebook_icon" href="https://fb.com/aulikelion" target="_blank"><i class="fab fa-facebook-f hvr-buzz-out" style="color: white;"></i></a>
          <p>@aulikelion</p>
        </li>
        <li id="footer-em">
          <a href="mailto:asdka4618@likelion.org" target="_blank"><i class="fa fa-envelope hvr-buzz-out"></i></a>
          <p>asdka4618@likelion.org</p>
        </li>
      </ul>
    </div>
    <div class="copyright">
      <p>
        © 2018 
        <a class="hvr-grow" target="_blank" href="https://www.facebook.com/aulikelion"/>AULIKELION.</a>
         All Rights Reserved.
      </p>
    </div>
</footer>
<!-- Basic Footer End -->
</div>

<!-- Bootstrap js script -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<!-- Bootstrap js script End -->
<!--Carousel ^^-->
<script>
$('#recipeCarousel').carousel({
  interval: 3500
})

$('.carousel .carousel-item').each(function(){
    var next = $(this).next();
    if (!next.length) {
    next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));
    
    for (var i=0;i<5;i++) {
        next=next.next();
        if (!next.length) {
        	next = $(this).siblings(':first');
      	}
        
        next.children(':first-child').clone().appendTo($(this));
      }
});
</script>
<!-- Carousel End ^^-->

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
</body>
</html>
